.clearfloat {
	clear: both;
}

.formsec{
border: 1px solid #999999;
margin:10px;
padding:5px;
width:425px;
float:left;
border-radius:10px;
-moz-border-radius: 10px;
}

.formsec2{
width:1100px;
border: 1px solid #999999;
margin:10px;
padding:5px;
border-radius:10px;
-moz-border-radius: 10px;

}


.budgettable{
border: 1px solid #999999;
padding:1px;
}
